{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="row g-3">
    <div class="col-md-2 ">
        <button class="btn btn-success col-md-12" id="export-to-excel-asistencia">
            Descargar Asistencia
           <i class="fas fa-file-excel ml-4"></i>
        </button>
    </div>
    <div class="col-md-2 ">
        <a class="btn btn-success col-md-12" href="{% url 'formatear' %}">
            Formatear Asistencia<i class="fas fa-times  ml-2"></i>
        </a>
    </div>
</div>
<div class="asistencia">
    <table class="table table-bordered table-striped" id="asistencia">
        <thead>
            <tr class="bg-info">
                <th scope="col"># </th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DNI </th>
                <th scope="col">FECHA</th>
                <th scope="col">Hora de Ingreso</th>
                <th scope="col">Hora de Salida</th>
                <th scope="col">Area</th>
                <th scope="col">Estado </th>
                <th scope="col">Observacion</th>
            </tr>
        </thead>
        
        <tbody >
            {% for dato in datos %}
            <tr >
                <th scope="row">{{dato.id}}</th>
                <td>{{dato.nombre}}</td>
                <td>{{dato.apellidos}}</td>
                <td>{{dato.dni}}</td>
                <td>{{dato.fecha}}</td>
                <td>{{dato.hora_entrada}}</td>
                <td>{{dato.hora_salida}}</td>
                <td>{{dato.area}}</td>
                <td>{{dato.estado}}</td>
                <td>{{dato.observacion}}</td>
            </tr>
            {% endfor %}
        </tbody>
       
    </table>
    
</div>
<div id="paginacion" class="d-flex grid gap-3 content-center"></div>
<script>
    var currentPage = 1;
    var rowsPerPage = 20;
    var table = document.getElementById("asistencia");
    var pagination = document.getElementById("paginacion");
    var rows = table.tBodies[0].rows;
    var totalPages = Math.ceil(rows.length / rowsPerPage);
    var buttonsToShow = 1; // Cantidad de botones a mostrar en la paginación
    
    function showRows() {
        var start = (currentPage - 1) * rowsPerPage;
        var end = start + rowsPerPage;
        for (var i = 0; i < rows.length; i++) {
            if (i < start || i >= end) {
                rows[i].style.display = "none";
            } else {
                rows[i].style.display = "";
            }
        }
    }
    
    function updatePagination() {
        var buttons = "";
        var startButton = Math.max(1, currentPage - buttonsToShow);
        var endButton = Math.min(totalPages, startButton + buttonsToShow * 2);
        for (var i = startButton; i <= endButton; i++) {
            buttons += "<button class='btn btn-primary rounded-pill ' onclick='changePage(" + i + ")'>" + i + "</button>";
        }
        if (currentPage < totalPages) {
            buttons += "<button class='btn btn-primary rounded-pill ' onclick='changePage(" + (currentPage + 1) + ")'>Siguiente</button>";
        }
        pagination.innerHTML = buttons;
    }
    
    function changePage(page) {
        currentPage = page;
        showRows();
        updatePagination();
    }
    
    showRows();
    updatePagination();
    

</script>
<script src="{% static 'js/exporasistencia.js'%}"></script>
{% endblock content %}